
body {
	margin-top: -1.5em;
}

h1 {
	text-align: center;
	padding: .5em 0 .5em 0;
	margin-left: -.5em;
	margin-right: -.5em;
	color: purple;
}

ul#nav {
	float: left;
	margin-top: 0px;
	margin-left: -2.5em;
	list-style-type: none;
	clear: bottom;
	width: 8em;
}

ul#nav li {
	background-color: purple;
	padding: 0.2em;
	margin-bottom: 0.3em;
	border-radius: 0.4em;
	color: white;
}

ul#nav a:link {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

ul#nav a:hover {
	text-decoration: underline;
}

div#pagecontent {
	margin-left: 9.5em;
	border-left: dashed 1px purple;
	padding-left: 0.5em;
}

input { 
    border-width: 1px; 
}

img {
	float: right;
	margin-left: 0.5em;
	margin-right: 2em;
	border-radius: 0.5em;	
}

table {
	valign: top;
}

table th {
	text-align: left;
	background-color: purple;
	color: white;
	font-weight: bold;
	padding: 0.2em;
	border-radius: 0.5em;
}

table {
	text-align: right;
}

table caption {
	vertical-align: left;
}
